<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB14</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.itheima.demo.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.itheima.line.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.itheima.header.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.itheima.header.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.itheima.header.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshServlet</display-name>
    <servlet-name>RefreshServlet</servlet-name>
    <servlet-class>com.itheima.header.RefreshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshServlet</servlet-name>
    <url-pattern>/refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextServlet</display-name>
    <servlet-name>TextServlet</servlet-name>
    <servlet-class>com.itheima.content.TextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextServlet</servlet-name>
    <url-pattern>/text</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByteServlet</display-name>
    <servlet-name>ByteServlet</servlet-name>
    <servlet-class>com.itheima.content.ByteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByteServlet</servlet-name>
    <url-pattern>/byte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.itheima.content.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet2</display-name>
    <servlet-name>DownLoadServlet2</servlet-name>
    <servlet-class>com.itheima.content.DownLoadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet2</servlet-name>
    <url-pattern>/downLoadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.itheima.content.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.itheima.checkimg.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
</web-app>