<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SendCookieServlet</display-name>
    <servlet-name>SendCookieServlet</servlet-name>
    <servlet-class>com.itheima.cookie.SendCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCookieServlet</servlet-name>
    <url-pattern>/sendCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCookieServlet</display-name>
    <servlet-name>RemoveCookieServlet</servlet-name>
    <servlet-class>com.itheima.cookie.RemoveCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCookieServlet</servlet-name>
    <url-pattern>/removeCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieServlet</display-name>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>com.itheima.cookie.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/getCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastAccessTimeServlet</display-name>
    <servlet-name>LastAccessTimeServlet</servlet-name>
    <servlet-class>com.itheima.lastaccesstime.LastAccessTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastAccessTimeServlet</servlet-name>
    <url-pattern>/lastAccessTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet1</display-name>
    <servlet-name>SessionServlet1</servlet-name>
    <servlet-class>com.itheima.session.SessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet1</servlet-name>
    <url-pattern>/session1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet2</display-name>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>com.itheima.session.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/session2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.itheima.checkimg.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.itheima.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>