<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB21</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductUIServlet</display-name>
    <servlet-name>AdminAddProductUIServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminAddProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductUIServlet</servlet-name>
    <url-pattern>/adminAddProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelProductServlet</display-name>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductUIServlet</display-name>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminUpdateProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <url-pattern>/adminUpdateProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlet</display-name>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListServlet</display-name>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <url-pattern>/adminSearchProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.itheima.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
</web-app>